@font-face {
  font-family: "cascadia_coderegular";
  src: url("public/webfont/cascadia-webfont.woff2") format("woff2"),
    url("public/webfont/cascadia-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Estedad-light";
  src: url("public/webfont/Estedad-Light.woff2") format("woff2");
  font-weight: normal;
  style: normal;
}
@font-face {
  font-family: "Estedad-medium";
  src: url("public/webfont/Estedad-Medium.woff2") format("woff2");
  font-weight: normal;
  style: normal;
}
@font-face {
  font-family: "Estedad-semibold";
  src: url("public/webfont/Estedad-SemiBold.woff2") format("woff2");
  font-weight: normal;
  style: normal;
}

h3,
h5 {
  font-family: "Estedad-light";
  color: #bbb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 52% 7%,
      hsla(254, 79%, 90%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 96% 1%, hsla(4, 93%, 89%, 1) 0px, transparent 50%),
    radial-gradient(at 2% 36%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 99%, hsla(310, 43%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(201, 47%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 73% 5%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/********DESKTOP*********/

/****************************************/
/************HEADER SECTION**************/
/****************************************/

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.header_left {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: left;
}

.header_left .logo {
  margin-right: auto;
  background-image: url(public/resources/ACLogo.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 9rem;
  height: 3rem;
  background-size: contain;
}
.header_left .title {
  font-family: "Estedad-light";
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: center;
  margin-left: 1rem;
  color: #989898;
  font-size: 0.8rem;
}

.header_right {
  display: flex;
  /* justify-content: center; */
}

.header_right .socialLinks a i {
  width: 20px;
  color: #3c3c3c;
  font-size: 1.4rem;
  margin: 0 0.7rem;
  transform: scale(1);
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header_right .socialLinks a:hover i {
  transform: scale(1.2);
  color: #333;
}

label {
  margin-right: 0.5rem;
  width: 3.5rem;
  height: 1.4rem;
  position: relative;
  display: block;
  background: #62aec5;
  border-radius: 1.7rem;
  box-shadow: inset 0px 1px 4px rgba(11, 102, 152, 0.5),
    inset 0px -1px 4px rgba(98, 174, 197, 1);
  cursor: pointer;
  transition: 0.3s;
}

label:after {
  content: "";
  width: 2rem;
  height: 1.3rem;
  position: absolute;
  top: 0.5px;
  left: 0.5px;
  background: linear-gradient(180deg, #e2e2e2, #c4c4c4);
  border-radius: 78px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #e1a7b9;
  box-shadow: inset 0px 1px 3px rgba(220, 123, 179, 0.7);
}

input:checked + label:after {
  left: 3.45rem;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #e2e2e2, #d4d4d4);
}

label:active:after {
  width: 2.3rem;
}

.softwareEngineerTitle {
  color: rgba(11, 102, 152, 1);
}

.graphicDesignTitle {
  color: rgba(195, 112, 160, 1);
}

label i {
  position: absolute;
  color: #3c3c3c;
  width: 40px;
  top: 1px;
  z-index: 100;
}

label i.codeIcon {
  left: 6px;
  top: 3px;
  transition: 0.3s;
  display: block;
}

label i.penIcon {
  left: 2rem;
  top: 3px;
  display: none;
  transition: 1s;
}

input:checked + label i.codeIcon {
  display: none;
  transition: 0.3s;
  transition-delay: 0.3s;
}

input:checked + label i.penIcon {
  display: block;
  transition: 1s;
}

/****************************************/
/**************MAIN**SECTION*************/
/****************************************/
h1 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h5 {
  text-align: right;
  padding-right: 10px;
  color: #5a5a5a;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding-top: 8rem;
}

.container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 17% auto;
  grid-gap: 0px;
  width: 90vw;
  height: 80vh;
  box-shadow: 2px 2px 5px rgba(52, 52, 52, 0.5);
  border-radius: 10px;
  overflow: hidden;
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

.project_view {
  display: grid;
  grid-template-rows: fit-content(10px) auto fit-content(10px);
  border: thin solid black;
}

NavLink {
  text-decoration: none;
}

.side_nav {
  background-color: #474747;
}

.top_windowbar {
  background-color: #272727;
}
.top_windowbar_tab {
  padding: 3px 20px;
  background-color: #343434;
  width: 170px;
  text-align: center;
}

.title-folder {
  font-size: 1.1rem;
  padding-right: 7px;
  color: #bbb;
}

.three_dots {
  background-color: #ffc107;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.two_column_view {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  background-color: #343434;
  height: auto;
  width: auto;
}

.numbers {
  font-family: "cascadia_coderegular";
  padding-top: 10px;
  width: 1.5rem;
  line-height: 1.8em;
  text-align: center;
  color: #5a5a5a;
}

.project_content {
  font-family: "cascadia_coderegular";
  letter-spacing: 0.1em;
  color: #d0d0d0;
  padding-top: 10px;
}

.project_content i {
  padding-left: 10px;
  font-size: 0.8em;
}
.project_content h4 {
  padding: 7px 0;
  color: #3d644f;
}

.project_content p {
  line-height: 1.6em;
}

.bottom_windowbar {
  background-color: #272727;
}
