@font-face {
  font-family: 'cascadia_coderegular';
  src: url('public/webfont/cascadia-webfont.woff2') format('woff2'),
       url('public/webfont/cascadia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad-light';
  src: url('public/webfont/Estedad-Light.woff2') format('woff2');
  font-weight: normal;
  style:normal
}
@font-face {
  font-family: 'Estedad-medium';
  src: url('public/webfont/Estedad-Medium.woff2') format('woff2');
  font-weight: normal;
  style:normal
}
@font-face {
  font-family: 'Estedad-semibold';
  src: url('public/webfont/Estedad-SemiBold.woff2') format('woff2');
  font-weight: normal;
  style:normal
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  background-color:hsla(0,0%,100%,1);
  background-image:
  radial-gradient(at 52% 7%, hsla(254,79%,90%,1) 0px, transparent 50%),
  radial-gradient(at 96% 1%, hsla(4,93%,89%,1) 0px, transparent 50%),
  radial-gradient(at 2% 36%, hsla(355,100%,93%,1) 0px, transparent 50%),
  radial-gradient(at 0% 99%, hsla(310,43%,65%,1) 0px, transparent 50%),
  radial-gradient(at 100% 100%, hsla(201,47%,77%,1) 0px, transparent 50%),
  radial-gradient(at 73% 5%, hsla(343,100%,76%,1) 0px, transparent 50%);
  background-size: cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  height: 3rem;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.header_left{
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items:left;
}

.header_left .logo {
  margin-right:auto;
  background-image: url(public/resources/ACLogo.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 9rem;
  height: 3rem;
  background-size: contain;

}
.header_left .title {
  font-family:'Estedad-light';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: center;
  margin-left: 1rem;
  color: #989898;
  font-size: 0.8rem;
}

.header_right {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
}

.header_right .socialLinks a i{
  width: 30px;
  color: #3c3c3c;
  font-size: 1.4rem;
  padding: 0 0.4rem;
  margin: 0 0.4rem;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.header_right .socialLinks a:hover i {
  transform: scale(1.2);
  padding: 0 0.4rem;
  color: #333;
  align-self: center;
}

.header_right .switchMode {
  width: 4rem;
  border: thin solid black;
}
.header_right .switchMode a i{
  font-size: 1.2em;
  align-self: center;
}
